// VARIABLES

// COLORS

$primary-color: #505050;
$secondary-color: #5f7390;
$main-grey: #e7e8ea;
$darker-grey: #828181;
$form-field: #242439;
$form-field-text: #5b5c68;
$white: #fff;
$nav-background: #d2d2d5;
$nav-text: #161628;
$grey-button-text: #363648;